# Django
DJANGO_SECRET_KEY= django-insecure-your-secret-key-here

# Database (PostgreSQL)
DB_NAME= Skripsi
DB_USER= postgres
DB_PASSWORD= your_db_password_here
DB_HOST= 127.0.0.1
DB_PORT= 5432

# MSSA Program
Data_Dir= Dataset/example
MERGE_DIR= Dataset/processed/merging
NORM_DIR= Dataset/processed/normalization
OUT_ROOT= Dataset/output/MSSA {L_MIN} {L_MAX}