#Import this lib
django
django-tailwind
django-browser-reload
django-extensions

djangorestframework
djangorestframework-simplejwt

huey
numpy
pandas
scipy
scikit-learn
joblib

matplotlib
seaborn
tqdm
requests
haversine

openpyxl
python-dateutil
babel
PyJWT

python-dotenv
psycopg2-binary