{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Monitor Udara Jakarta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  {% tailwind_css %}
</head>

<body class="bg-gray-50" x-data="{ open:false }">
  <!-- Navbar -->
  {% if request.user.is_authenticated and request.user.is_staff %}
  {% include "partials/navbar.html" %}
  {% else %}
  {% include "partials/navbar visit.html" %}
  {% endif %}

  <main class="min-h-screen">
    {% block content %}{% endblock %}
  </main>


  <!-- Footer -->
  {% if request.user.is_authenticated and request.user.is_staff %}
  {% include "partials/footer.html" %}
  {% else %}
  {% include "partials/footer visit.html" %}
  {% endif %}

  <div x-show="open" x-transition.opacity
    class="fixed inset-0 bg-black/50 backdrop-blur-sm flex justify-center items-center z-[9999]">

    {% if not request.user.is_authenticated or not request.user.is_staff %}
    <div x-show="open" x-transition.scale class="bg-white rounded-xl shadow-lg p-6 w-80">

      <h2 class="text-lg font-semibold text-gray-800 mb-2">Masuk sebagai Admin</h2>
      <p class="text-sm text-gray-600 mb-5">Klik tombol di bawah untuk masuk sebagai admin.</p>

      <div class="flex justify-end space-x-2">
        <button @click="open=false" class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg text-gray-700">
          Batal
        </button>
        <a href="{% url 'admin_login' %}" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-lg">
          Lanjutkan
        </a>
      </div>

    </div>
    {% endif %}

    {% if request.user.is_authenticated and request.user.is_staff %}
    <div x-show="open" x-transition.scale class="bg-white rounded-xl shadow-lg p-6 w-80">

      <h2 class="text-lg font-semibold text-gray-800 mb-2">Keluar dari Admin</h2>
      <p class="text-sm text-gray-600 mb-5">Apakah Anda yakin ingin logout?</p>

      <div class="flex justify-end space-x-2">
        <button @click="open=false" class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg text-gray-700">
          Batal
        </button>
        <a href="{% url 'logout' %}" class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded-lg">
          Logout
        </a>
      </div>

    </div>
    {% endif %}

</body>
<script>
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let cookie of cookies) {
      cookie = cookie.trim();
      if (cookie.startsWith(name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

const csrfToken = getCookie('csrftoken');
</script>

</html>